@import "tailwindcss";

:root {
  --paper: #f3ede2;
}

@theme {
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

html, body {
  background-color: var(--paper);
}

body {
  color: #2e2a26; /* not pure black */
}